<br>
    <div class='container'>
        <div class='row'>
            <div class="col-md-6 col-xl-6">
            
                <h4>About Me</h4>
                    <p>#Sample text</p>
                        
    <!--                I have 5 year experience at worldwide container shipping line as senior process support specialist. Always had passion for coding i've found several solutions for automating internal company processes which allowed us to win our challenges even with lack of resourses. I would like to implement my experience and new skills as web-developer.</p> <!-- example text-->
               <h4>Skills</h4>
                    <p>#Sample skills</p>
    <!--                    Ruby on Rails, Postgresql, Rspec, Git, Jquery, e.t.c </p> <!-- is it even needed here?-->
            </div>
            
            <div class="col-md-6 col-xl-6">
            
                <h4>Social Profiles</h4> 
                    <p>You can reach me on <a href="https://github.com/nikitabogdan">Github</a> and <a href="https://twitter.com/nikitabogdan">Twitter</a>.</p>
                <h4>Contact</h4>
                    <p>Please, send me an email at <a href='mailto:me@nikitabogdan.com'>me@nikitabogdan.com</a> and I'll respond as soon as possible.</p>
                <h4>CV</h4>
                    <p><a href="http://nikitabogdan.com/cv.pdf">http://nikitabogdan.com/cv.pdf</a></p>
    <!--            <h4>Sport</h4>
                    <p>Get in touch with me on <a href='https://www.strava.com/athletes/nikitabogdan'>Strava</a>.</p>
    -->
            </div>
        </div>
    </div>
    