<br>
    <div class='container'>
        <div class='row'>
            <div class="col-md-6 col-xl-6">
                <h4>About me</h4>
                    <p>After 5 years of successful performance at worldwide container shipping line i've decided to switch my career and get new challenges as web application developer.</p>
                <h4>Skills</h4>
                    <ul>
                        <li>Ruby on Rails, Linux, PostgreSQL, Git, HTML5, CSS3, Jquery, Javascript, Ajax</li>
                        <li>Agile project management</li>
                        <li>Speaks English (professional working proficiency) and Russian (native)</li>
                    </ul>
                <h4>Learning</h4>
                    <ul>
                        <li>Rspec, Action Cable, React</li>
                    </ul>
            </div>
            
            
            <div class="col-md-6 col-xl-6">
            
                <h4>Social Profiles</h4> 
                    <p>You can reach me on <a href="https://github.com/nikitabogdan">Github</a> and <a href="https://twitter.com/nikitabogdan">Twitter</a>.</p>
                <h4>Contact</h4>
                    <p>Please, send an email at <a href='mailto:me@nikitabogdan.com'>me@nikitabogdan.com</a> <br>and I'll respond as soon as possible.</p>
                <h4>CV</h4>
                    <p><a href="http://nikitabogdan.com/cv.pdf">http://nikitabogdan.com/cv.pdf</a></p>
    <!--            <h4>Sport</h4>
                    <p>Get in touch with me on <a href='https://www.strava.com/athletes/nikitabogdan'>Strava</a>.</p>
    -->
            </div>
        </div>
    </div>
    