// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
margin: 10px;
}

#notice, #alert {
    position: absolute;
    width: 95%;
}


 html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
  color: #4A4A4A;
  background-color: #EEEEEE;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:65px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:65px;   /* Height of the footer */
   color: #4A4A4A;
  border-top: 1px solid #e5e5e5;
}
/* IE 6 and down:
#container {
   height:100%;
}





/* Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 65px;
  clear: both;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here 
  height: 65px;
  
}

#header {
  color: #4A4A4A;
  background-color: #EEEEEE;
}

*/

#image {
  border: 5px solid #4A4A4A;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

a#maersk {
  color:#4A4A4A;
}

a #maersk:link{
  color:#4A4A4A;
}
a #maersk:visited{
  color:#4A4A4A;
}
a #maersk:hover{
  color:#4A4A4A;
}
a #maersk:focus{
  color:#4A4A4A;
}
 a #maersk:active{
  color:#4A4A4A;
}
 a #maersk:hover{
  color:#4A4A4A;
}