<div class="container">
    <div style="background:transparent !important" class='jumbotron'>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="row" align="center">
                    <%= image_tag 'me_sq_sm.png', :id => 'image', :class => "img-responsive img-rounded", :width => 255, :height => 255 %> <!--:class => "img-responsive img-rounded", -->
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="row">
                    <h1>Nikita Bogdan</h1>
                    <h3>Senior Process Support Specialist at <a href='https://my.maerskline.com/' id='maersk'>Maersk Line</a></h3><!-- & <a href='https://my.mcc.com.sg/' id='maersk'>MCC Transport</a></h3>-->
                </div>
            </div>
        </div>
    </div>
</div>