<div class="container">
    <div style="background:transparent !important" class='jumbotron'>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="row" align="center">
                    <%= image_tag 'me.jpg', :id => 'image', :width => 255, :height => 255, :onload => "this.style.opacity='1'" %> <!--:class => "img-responsive img-rounded", -->
                </div>
                

                
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="row">
                    <h2>Nikita Bogdan</h2>
                    <h3>Web Application Developer<br><p style="height:8px;margin:0px;padding:0px;"></p>Senior Process Support <br>Specialist at <a href='https://my.maerskline.com/' id='maersk'>Maersk Line</a></h3><!-- & <a href='https://my.mcc.com.sg/' id='maersk'>MCC Transport</a></h3>-->
                </div>
            </div>
        </div>
    </div>
</div>